.html1{
  background-image: url(img1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
div {
    width: 250px;
    border: 1px solid blue;
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
    text-decoration: underline;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(170, 0, 255);
    font-size: 34px;
  }
  .lukomnikov{
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(170, 0, 255);
    font-size: 29px;
  }
  .right {
    text-align: right;
  }
  
  .justify {
    text-align: justify;
  }
  .button{
    background-color: rgb(255, 0, 0);
    color: white;
    width: 200px;
    height: 100px;
    font-size: 29px;
  }
